%div.my-3
  %h1
    We can teach you any skill: rare, unique, and totally unbelievable!
  %h2
    Number of available courses in the database:
    = @courses.count
.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
  - @courses.each do |course|
    = render 'courses/course', course: course
%br